<!--
  Generated template for the List page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <header-bar></header-bar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-card-content>

      <div *ngFor="let field of data.fields" class="ruled"><div *ngIf="field.value">

          <ion-card-title *ngIf="field.type.indexOf('name')>=0">
            {{field.fieldname}}: {{field.value}}
          </ion-card-title>

          <p *ngIf="field.type.indexOf('url')>=0">
            <a href="{{field.value | formatHttpLink}} " target="_system">{{field.value}}</a>
          </p>

          <p *ngIf="field.type.indexOf('phone')>=0">
            <a href="tel:{{field.value}}">{{field.value}}</a>
          </p>

          <p *ngIf="field.type.indexOf('email')>=0">
            <a href="mailto:{{field.value}}">{{field.value}}</a>
          </p>

          <p *ngIf="field.type.indexOf('text')>=0 && field.type.indexOf('name') == -1">
            {{field.fieldname}}: {{field.value}}
          </p>

          <p *ngIf="field.type.indexOf('image')>=0">
            <img [src]="field.value | formatHttpLink"/>
          </p>

          <p *ngIf="field.type.indexOf('video')>=0">

              <span *ngIf="field.value.indexOf('youtube')>=0">

                <button ion-button full outline (click)="openYoutube(field.value)">Video on YouTube</button>
              </span>
            <span *ngIf="field.value.indexOf('youtube') == -1">
              <video controls="controls" preload="metadata" webkit-playsinline="webkit-playsinline" class="videoPlayer">
                Sorry, this device can not play videos.
                <source [src]="field.value | formatHttpLink" type="video/mp4"/>
              </video>
            </span>
          </p>

          <p *ngIf="field.type.indexOf('audio')>=0">
            <audio-track #audio [track]="{src: field.value, preload: 'metadata'}">
              <ion-thumbnail item-left>
                <audio-track-play dark [audioTrack]="audio">
                  <ion-spinner></ion-spinner>
                </audio-track-play>
              </ion-thumbnail>

              <div item-content style="width:100%">

                <audio-track-progress-bar dark duration progress [audioTrack]="audio"
                                          [ngStyle]="{visibility: audio.completed > 0 ? 'visible' : 'hidden'}"></audio-track-progress-bar>
              </div>

            </audio-track>
          </p>


          <button ion-button full outline *ngIf="field.type.indexOf('map')>=0" (click)="showDirections(field.value)">
            Directions
          </button>

        </div></div>
    </ion-card-content>
  </ion-card>

</ion-content>
