<ion-header>
<header-bar></header-bar>
</ion-header>

<ion-content padding text-center>

  <div class="top" [ngStyle]="{'background': COLOR_C.search_page.big_box_background, 'color': COLOR_C.text_light}">
    <div class="search-by-container">

      <label>
        Search by:
        <select [(ngModel)]="selectedKey" (ngModelChange)="searchModeChanged($event)" class="dropdown" [ngStyle]="{'color': COLOR_C.page_theme}">
          <option *ngFor="let c of selectData" [ngValue]="c">{{c.value}}</option>
        </select>
      </label>
    </div>

    <br/>

    <ion-auto-complete [dataProvider]="completeTestService"
                       (itemSelected)="searchItemSelected($event)"></ion-auto-complete>
  </div>

  <img class="image" [src]="'assets/'+SEARCH_C.background_image" *ngIf="SEARCH_C.background_image" />

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title align="center">
      {{ FOOTER_C.text }}
      <img [src]="'assets/'+FOOTER_C.image" *ngIf="FOOTER_C.image" />
    </ion-title>
  </ion-toolbar>
</ion-footer>
