page-search {
  .dropdown{
    min-width: 30%;
    display: inline-block;
    padding: 10px;
  }

  .search-by-container{
    margin-bottom: 5%;
  }

  .image{
    width: 100%;
    overflow: hidden;
  }

}
